body {
  background-color: rgb(250, 235, 215, 0.5);
}
.menu {
  margin-top: 40px;
  text-align: center;
  display: block;
  font-size: 25px;
  word-spacing: 80px;
  background-color: antiquewhite;
  padding: 20px;
}

.links {
  text-decoration: none;
  color: rgb(127, 49, 1);
}

h1 {
  margin: 40px;
  color: brown;
  display: block;
  text-align: center;
  font-size: 60px;
}

img {
  display: block;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
}

p {
  font-size: 18px;
  line-height: 1.5em;
  display: block;
  margin: 40px;
  color: rgb(36, 8, 62);
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 10px;
}
